altgraph==0.17
astroid==2.5.6
isort==5.8.0
lazy-object-proxy==1.6.0
macholib==1.14
mccabe==0.6.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pylint==2.8.2
pyperclip==1.8.2
PyQt5==5.14.2
PyQt5-Qt==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqtspinner==0.1.1
toml==0.10.2
wrapt==1.12.1
